@import '/src/Styles/abstracts/mixins';
@import '/src/Styles/abstracts/variables';

header {

    @include flexSpaceEven;
    height: 85px;

    #reactImageHeader {
        font-size: 4em;
        position: relative;
        top: 6px;
    }

    h1 {
        position: relative;
        right: 5.4em;
        font-weight: 700;
    }
    
    &.light {
        background-color: $light-base;

        h1 {
            border-bottom: 6px double $light-complement;
        }
    }

    &.dark {
        background-color: $dark-base;
        color: $dark-complement;

        h1 {
            border-bottom: 6px double $dark-complement;
        }
    }

    nav {
        
        width: 500px;
        font-weight: 300;
        border-radius: 20px;

        &.light {
            background-color: $light-complement;
            color: $light-base;
        }

        &.dark {
            background-color: $dark-complement;
            color: $dark-base;
        }

        .navMenu {
            @include flexSpaceEven;

            li {

                font-size: 20px;
            }
            
            
        }
    }
}

