@import '/src/Styles/abstracts/mixins';
@import '/src/Styles/abstracts/variables';

header {

    @include flexSpaceEven;
    height: $headerHeight;
    @include themeTransition;
    background-color: $light-base;
    padding: 10px;

    h1 {
        a {
            position: relative;
            right: 2em;
            font-weight: 700;
            font-size: 30px;
            background-color: $light-complement;
            padding: 15px;
            border-radius: 50px;
            color: $light-base;

            display: flex;
            align-items: center;
        
            @include themeTransition;

            #logoHeader {
                font-size: 50px
            }
        }
    }

    nav {
        
        @include themeTransition;
        
        .navMenu {
            @include flexSpaceEven;
            @include themeTransition;
            width: 500px;
            font-weight: 500;
            border: 2px solid $light-complement;
            border-radius: 20px;
            padding: 8px;   

            li {
                font-size: 25px;
                font-style: italic;
                border-radius: 20px;
                background-color: $light-complement;
                padding: 10px;
                @include themeTransition;

                a {
                    color: $light-base;
                    @include themeTransition;
                }
            }
            
            
        }

        #secondaryMenu {
            background: hsl(0 0% 0% / 0.8);

            position: absolute;
            right: 60px;
            top: 50px;

            border-radius: 30px;
            
            font-style: italic;
            font-size: 25px;
            font-weight: 500;

            width: 300px;
            height: 50px;

            @include flexSpaceEven;
            @include themeTransition;

            opacity: 0;
            z-index: -1;

            &[data-visible="true"]{
                opacity: 1;
                z-index: 100;
                transform: translateY(50px);
            }

            @supports (backdrop-filter: blur(1.5rem)){
                background: hsl(250 100% 20% / 0.1);
            	backdrop-filter: blur(1.5rem);
            }

            a {
                color: $light-complement;
            }

        }
    }

    #secondMenuBtn {
        position: absolute;
        right: 60px;
        top: 15px;
        font-size: 50px;
        color: $light-complement;

        cursor: pointer;
        @include themeTransition;
        
        &:hover {
            transform: scale(1.1);
        }
    }

    &.dark {
        background-color: $dark-base;
        color: $dark-complement;

        h1 {
            a {
                color: $dark-base;
                background-color: $dark-complement;
            }
        }

        nav {
            
            .navMenu {

                border: 2px solid $dark-complement;

                li {
                    background-color: $dark-complement;
                    a {
                        color: $dark-base;
                    }
                }
            }

            #secondaryMenu {
                a {
                    color: $dark-complement;
                }
            }

        }

        #secondMenuBtn {
            color: $dark-complement;
        }
    }

}

