$light-base : rgb(29, 208, 214);
$light-complement: rgb(26, 20, 43);

$dark-base : rgb(29, 29, 29);
$dark-complement: rgb(177, 164, 235);

$body-color-light: rgb(240, 240, 240);

$headerHeight : 100px;

