@import '/src/Styles/abstracts/variables';
@import '/src/Styles/abstracts/mixins';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

html, body, button {
    font-family: 'Oswald', sans-serif;
}

#themeSwitch {

    font-size: 2em;

    position: fixed;
    bottom: 0;
    right: 0;

    padding: 5px;

    border-radius: 15px;

    width: 70px;
    height: 45px;

    cursor: pointer;

    @include themeTransition;

    display: flex;
    justify-content: center;

    background-color: $light-base;
    color: $light-complement;

    opacity: .3;

    #iconMode {
        transform: translateX(15px);
        @include themeTransition;
    }

    &.dark {
        background-color: $dark-complement;
        color: $dark-base;

        #iconMode {
            transform: translateX(-15px);
        }
    }

    &:hover {
        opacity: 1;
        transform: scale(1.1);
    }


}

/*sections*/

section {

    width: 100%;
    height: 100vh;
    padding: 25px;
    @include themeTransition;
    background-color: $body-color-light;

    display: flex;
    flex-direction: row;
    align-items: center;

    &:first-of-type {
        height: calc(100vh - $headerHeight);
    }

    &.dark {
        background-color: $light-complement;
        color: $dark-complement;
    }

}

/*ruleset for all the informative descriptions*/

.description {
    font-size: 30px;
    margin: 5px;

    .title {
        font-weight: 500;
    }

    p {
        font-weight: 300;
    }
}

.zoomImg {
    @include themeTransition;

    &:hover {
        transform: scale(1.05);
        border-radius: 40px;
    }
}


#warning {
    display: none;
}
