@import '/src/Styles/abstracts/variables';
@import '/src/Styles/abstracts/mixins';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

html, body, button {
    font-family: 'Oswald', sans-serif;
}

#themeSwitch {

    font-size: 2em;

    position: fixed;
    bottom: 0;
    right: 0;

    padding: 5px;

    border-radius: 15px;

    width: 70px;
    height: 45px;

    cursor: pointer;

    @include themeTransition;

    display: flex;
    justify-content: center;

    &.light {
        background-color: $light-base;
        color: $light-complement;

        #iconMode {
            transform: translateX(15px);
            @include themeTransition;
        }
    }

    &.dark {
        background-color: $dark-base;
        color: $dark-complement;

        #iconMode {
            transform: translateX(-15px);
            @include themeTransition;
        }
    }


}